<include href="views/header.html"></include>
<!--end nav bar-->
<div class="container container-fluid border border-secondary mt-5 rounded shadow" >

    <h1>Interests</h1>
    <hr>

    <form action="#" method="post" class="form-check ">
        <h6>in-door interests</h6>

        <!-- get intrest -->
        <div class="row">
            <repeat group="{{ @indoor }}" value="{{ @indoor }}">
                        <div class="col-lg-3">
                            <div class="form-check">
                                <label><input  class="form-check-input" type="checkbox" name="indoor[]" value="{{ @indoor }}"> {{ ucfirst(@indoor) }}</label><br>
                            </div>
                        </div>
                    </repeat>
        </div>
        <check if="{{ isset(@errors['indoor']) }}">
            <span class="err">{{ @errors['indoor'] }}</span>
        </check>
        <br>

        <!--get outside intrest-->
        <h6>out-door interests</h6>
        <div class="row">
            <repeat group="{{ @outdoor }}" value="{{ @outdoor }}">
                <div class="col-lg-3">
                    <div class="form-check">
                        <label><input  class="form-check-input" type="checkbox" name="outdoor[]" value="{{ @outdoor }}"> {{ ucfirst(@outdoor) }}</label><br>
                    </div>
                </div>
            </repeat>
        </div>
        <check if="{{ isset(@errors['outdoor']) }}">
            <span class="err">{{ @errors['outdoor'] }}</span>
        </check>
        <div class="text-right ">
            <input class=" btn btn-primary btn-sm mb-2" type="submit" value="Next>">
        </div>
    </form>



</div>

