
<include href="views/header.html"></include>
<!--end nav bar-->


<!--end header-->

<!--body start-->

<div class="container container-fluid border border-secondary mt-5 rounded shadow" >
    <h1>Personal Information</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6 ">

            <form action="#" method="post">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="first name">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="last name">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="age">
                </div>

                <!--radio gender-->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gen" id="inlineRadio1" value="male">
                    <label class="form-check-label" for="inlineRadio1">male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gen" id="inlineRadio2" value="female">
                    <label class="form-check-label" for="inlineRadio2">female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gen" id="inlineRadio3" value="other" >
                    <label class="form-check-label" for="inlineRadio3">other</label>
                </div>
                <!--end radio-->
                <div class="form-group">
                    <label for="age">phone number</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="phone">
                </div>
                <hr>
        </div>
        <div class="col-sm-6 " >
            <div class="container container-fluid border border-secondary rounded " id="note">
                <p><b>Note:</b> All Information entered is <br>
                    protected by our <span class="text-primary"> Privacy policy.</span>Profile<br>
                    information can only be viewed by<br>
                    other with your permission.</p>
            </div>

        </div>

</div>
    <div class="text-right ">
        <input class=" btn btn-primary btn-sm mb-2" type="submit" value="Next>">

    </div>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
