
<include href="views/header.html"></include>


<div class="container container-fluid border border-secondary mt-5 rounded shadow" >
    <div class="row p-2">

        <div class="col-sm-6 ">
            <ul class="list-group">
                <li class="list-group-item">Name: {{ @SESSION.fname }} {{ @SESSION.lname }} </li>
                <li class="list-group-item">Gender: {{ @SESSION.gen }} </li>
                <li class="list-group-item">Age: {{ @SESSION.age }}</li>
                <li class="list-group-item">Phone: {{ @SESSION.phone }}</li>
                <li class="list-group-item">Email: {{ @SESSION.email }}</li>
                <li class="list-group-item">State: {{ @SESSION.state }}</li>
                <li class="list-group-item">Seeking: {{ @SESSION.seek }}</li>
                <li class="list-group-item">Interests: {{ @SESSION.indoor }} {{ @SESSION.outdoor }}</li>
            </ul>
        </div>




        <div class="col-sm-6 text-center">
            <img src="images/cap.png" id="cap" alt="captain americas loves you">
            <div class="p-2 text-left">
                <h6 class="">Biography</h6>
                <p>{{ @SESSION.bio }}</p>
                <p>{{@SESSION.error}}</p>
            </div>

        </div>


    </div>
    <div class="text-center ">
        <input class=" btn btn-primary btn-sm mb-2" type="submit" value="Contact Me!">

    </div>
</div>